nav.navbar.navbar-default.navbar-fixed-top
 .container
   .navbar-header
    a.navbar-brand(href="#") 主頁
   .nav.navbar-nav.navbar-right
    li
     a(href="#section_ask") 引言
    li
     a(href="#section_about") 介紹
    li
     a(href="#section_video") 影片
    li
     a(href="http://www.animalplanet.com.tw" target="_blank") 詳細內容
        
header.jumbotron
  .container
    h1 狗狗的星座
    hr
    h4 你知道為甚麼每隻狗狗性格都不一樣嗎?!
section#section_ask
  .container
    .row
      .col-sm-6.img
      .col-sm-6
        h2 狗狗有甚麼星座呢?
section#section_about
 .container
   .row
    .col-sm-3
      img(src="https://goo.gl/i2YKbc", alt="")
      h3 牡羊座 ── 無敵狗
      h4 3/21 - 4/20
      p 特性：勇敢、積極、熱情、自信、天真。<br>缺點：性急、好動、頑皮、好強、魯莽。
    .col-sm-3
      img(src="https://purebreddogsforsale.files.wordpress.com/2015/02/shar_pei_puppy_with_black_mask_0.jpg", alt="")
      h3 金牛座 ── 老實狗
      h4 4/21 - 5/20
      p 特性：耐心、堅定、可靠、忠實、安逸。<br>缺點：頑固、好吃、佔有慾強。
    .col-sm-3
      img(src="http://www.themosbyfoundation.org/wp-content/uploads/2017/02/Shilo1-600x400.jpg", alt="")
      h3 雙子座 ── 機靈狗
      h4 5/21 - 6/20
      p 特性：好奇、活潑、外向、聰明、機靈、適應力強。<br>缺點：缺乏耐心、過動、緊張、情緒化、不安分。
    .col-sm-3
      img(src="https://imgstaticcontent.lbb.in/lbbnew/wp-content/uploads/sites/1/2016/04/stbernard-600x400.jpg", alt="")
      h3 巨蟹座 ── 顧家狗
      h4 6/21 - 7/22
      p 特性：多情、善感、關懷、溫馨、忠誠。<br>缺點：過於、敏感、依戀、忌妒。
section#section_about
 .container
   .row
    .col-sm-3
      img(src="https://goo.gl/wPRuVM", alt="")
      h3 獅子座 ── 尊貴狗
      h4 7/23 - 8/20
      p 特性：熱情、自信、自尊、豪爽。<br>缺點：傲慢、頑固、自大、偏執。
    .col-sm-3
      img(src="https://goo.gl/ndoYZP", alt="")
      h3 處女座 ── 敏感狗
      h4 8/21 - 9/20
      p 特性：自律、整潔、冷靜、溫和、辨識力強。<br>缺點：焦慮、緊張、挑剔、不安。
    .col-sm-3
      img(src="https://goo.gl/999bJv", alt="")
      h3 天秤座 ── 交際狗
      h4 9/21 - 10/20
      p 特性：平易近人、容易溝通、友善、活潑、和諧、外向。<br>缺點：情緒敏感、放縱、懶散、不耐寂寞。
    .col-sm-3
      img(src="https://goo.gl/a4eY8c", alt="")
      h3 天蠍座 ── 守望狗
      h4 10/21 - 11/20
      p 特性：有韌性、堅決、有洞悉力、冷靜、深情、機警。<br>缺點：佔有、多疑、忌妒、孤獨。
section#section_about
 .container
   .row
    .col-sm-3
      img(src="https://goo.gl/rk8kXV", alt="")
      h3 射手座 ── 開心狗
      h4 11/21 - 12/20
      p 特性：瀟灑、爽朗、活力、衝勁、追尋、冒險。<br>缺點：任性、衝動、不馴、頑皮、不定性、貪玩。
    .col-sm-3
      img(src="https://goo.gl/C2QRze", alt="")
      h3 魔羯座 ── 沉穩狗
      h4 12/21 - 01/20
      p 特性：沉著、穩定、謹慎、責任心、自律。<br>缺點：嚴肅、憂鬱、拘謹。
    .col-sm-3
      img(src="https://goo.gl/MwhLjM", alt="")
      h3 水瓶座 ── 聰明狗
      h4 01/21 - 02/20
      p 特性：友善、獨立、智慧、理性、博愛。<br>缺點：堅持、不馴、任性、古怪。
    .col-sm-3
      img(src="https://goo.gl/PNVyaS", alt="")
      h3 雙魚座 ── 撒嬌狗
      h4 02/21 - 03/20
      p 特性：直覺、共鳴、體諒、犧牲、善感。<br>缺點：依賴、迷糊、懶散、敏感、沮喪。     
section#section_video
  .container
    .row
      
      .col-sm-1        
        a(href="https://www.youtube.com/embed/eNU96s1QexU" target="iframe_a") 牡羊座 
      .col-sm-1
        a(href="https://www.youtube.com/embed/d0TW67ldqO8" target="iframe_a") 金牛座
      .col-sm-1
        a(href="https://www.youtube.com/embed/x8eNH39Pcjs" target="iframe_a") 雙子座
      .col-sm-1
        a(href="https://www.youtube.com/embed/ZnOaMRp3K5g" target="iframe_a") 巨蟹座 
      .col-sm-1
        a(href="https://www.youtube.com/embed/bdfc_oA2pHM" target="iframe_a") 獅子座
      .col-sm-1
        a(href="https://www.youtube.com/embed/lqZPE8GcLN0" target="iframe_a") 處女座
      .col-sm-1
        a(href="https://www.youtube.com/embed/_OB1wYl-1ks" target="iframe_a") 天秤座
      .col-sm-1
        a(href="https://www.youtube.com/embed/QcKTjhG5oXg" target="iframe_a") 天蠍座
      .col-sm-1
        a(href="https://www.youtube.com/embed/ELVgTK3LvFA" target="iframe_a") 射手座
      .col-sm-1
        a(href="https://www.youtube.com/embed/LpVFIaPtw3k" target="iframe_a") 魔羯座
      .col-sm-1
        a(href="https://www.youtube.com/embed/WDRp10yYHU0" target="iframe_a") 水瓶座
      .col-sm-1
        a(href="https://www.youtube.com/embed/rupFlYdV3_c" target="iframe_a") 雙魚座      
      .col-sm-12
        hr
        <iframe height="630px" width="1120px" src="https://www.youtube.com/embed/eNU96s1QexU" name="iframe_a"></iframe>     